header {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

header {
   background-color: #282c34;
   font-size: 1.4em;
   text-align: left;
   padding: 0 0.5em;
}

header img {
   width: 24px;
   height: 24px;
   vertical-align: text-top;
}

.title {
   font-weight: 500;
   line-height: 1.1;
}

.subtitle {
   font-size: 0.7em;
   font-weight: 300;
   color: #efefef;
}

.network {
   background: #0071e3;
   border-radius: 0.2em;
   font-size: 0.8em;
   font-weight: normal;
   margin: 0.2em;
   padding: 0 0.2em;
}

.a {
   color: white;
   text-decoration: none;
}
